.Logo{
    max-width: 135px;
    padding-top: 0px;
    bottom: 0px;
    max-height: 80px;
}

.navrow{
    min-height: 80px !important;
    max-height: 90px;
    margin: auto;
}

.col{
    align-self: center;
    min-height: 30px;
    max-height: 50px;
}
