.Logo{
    max-width: 135px;
    padding-top: 0px;
    bottom: 0px;
    max-height: 80px;
}

.navrow{
    min-height: 80px !important;
    max-height: 90px;
    margin: auto;
}

.col{
    align-self: center;
    min-height: 30px;
    max-height: 50px;
}

.welcome{
    padding-top: 0px;
    margin-top: -5px;
    height: 300px;
}

.h2{
    margin-top: 30px;
    font-family: Yokohama ;
    font-size: 70px;
}

.h2aboutPage{
    font-family: Yokohama ;
    margin-top: 100px;
    font-size: 100px;
}

.buttonLink {
    text-decoration: none;
    background-color: #C39E9E;
    color: #fef0e4;
    padding: 10px;
    display: center;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    font-family: Montserrat-Medium;
}

.buttonLink:hover{
    background-color: #D5ADAD;
    color: #F6F5F0;
}

.welcomeDes{
    font-family: Montserrat-Medium;
}

.aboutDes{
    font-family: Montserrat-Medium;
}

@font-face {
    font-family: Yokohama ; 
    src: url("fonts/Yokohama.ttf");
  }

  @font-face {
      font-family: Montserrat-BoldItalic ;
      src: url("fonts/Montserrat-BoldItalic.ttf");
  }

  @font-face {
    font-family: Montserrat-Light ;
    src: url("fonts/Montserrat-Light.ttf");
} 

@font-face {
    font-family: Montserrat-Medium ;
    src: url("fonts/Montserrat-Medium.ttf");
} 

@font-face {
    font-family: Montserrat-Bold ;
    src: url("fonts/Montserrat-Bold.ttf");
} 

.CarouselLook{
    padding: 0px;
    margin-top: -25px;
}

.rounded-circle{
    width: 666px;
    height: 780px;
    display: block;
}

.aboutHome{
    padding-top: 0px;
    margin-top: -5px;
    height: 550px;
}

.aboutPhoto{
    max-width: 470px;
    max-height:  584px;
    margin-top: 50px;
    margin-left: 100px;
}

.endHomePage{
    padding-top: 0px;
    margin-top: -5px;
    height: 892px;
}

.endPhoto{
    max-width: 700px;
    max-height: 951px;
    float: right;
   margin-right: -20px;
}

.endQuote{
    font-family: Montserrat-BoldItalic ;
    margin-top: 300px;
    font-size: 40px;
}

.nav-link{
    color: #FFFFFF;
}

.nav-link:hover{
    color: #FFFFFF;
}

.copyrightRow{
    height: 50px;
}

.allContent{
    margin-top: 15px;
    margin-left: 10px;
    font-family: Montserrat-Medium ;
}

.socialMedia{
    margin-right: 5px;
}

.Facebook{
    max-width: 78px ;
    max-height: 29px;
    padding-right: 20px;
}

.Instagram{
    max-width: 78px ;
    max-height: 29px;
    padding-right: 20px;
}

.portofolioDes{
    padding-top: 0px;
    margin-top: -5px;
    height: 250px;
}

.cardSection{
    padding-top: 0px;
    margin-top: -5px;
    height: 690px;
}

.portfolioCards{
    align-items: center;
}

.card{
    margin-top: 50px;
    margin-left: 150px;
    align-self: center;
}

.card-title{
    font-family: Montserrat-Bold ;
}

.goBackButtons{
    padding-top: 0px;
    margin-top: -5px;
    height: 130px;
    align-content: center;
}

.endbutton{
    margin-top: 55px;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 35px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #C39E9E; /* Set a background color */
    color: #fef0e4; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color:  #D5ADAD; /* Add a dark-grey background on hover */
  }

  .portraitsDes{
    padding-top: 0px;
    margin-top: -5px;
    height: 200px;
  }

.portriatsTitle{
    margin-top: 50px;
    font-family: Yokohama ;
    font-size: 100px;
}

 * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .packagesDes{
    padding-top: 0px;
    margin-top: -5px;
    height: 400px;
  }

  .cardPackages{
    margin-top: 100px;
    margin-left: 150px;
    align-self: center;
}

.aboutPageDes{
    font-family: Montserrat-Medium;
}

.aboutpage{
    padding-top: 0px;
    margin-top: -5px;
    height: 800px;
}

.aboutPhotopage{
    max-width: 600px;
    max-height:  614px;
    margin-top: 150px;
    margin-left: 65px;
}

.endAboutPage{
    padding-top: 0px;
    margin-top: -5px;
    height: 500px;
}

.endQuoteabout{
    font-family: Montserrat-BoldItalic ;
    margin-top: 100px;
    font-size: 40px;
}

.aboutTitle{
    margin-top: 50px;
    font-family: Yokohama ;
    font-size: 130px;
}

.contactPage{
    padding-top: 0px;
    margin-top: -5px;
    height: 650px;
}

.imageContact{
    max-width: 1160px;
    max-height: 597px;
    margin-top: 30px;
    margin-left: 220px;
}

.bronze{
    max-width: 450px;
    max-height: 780px;
    margin-top: 25px;
    margin-left: 10px;
}

.bronzePackage {
    padding-top: 0px;
    margin-top: -5px;
    height: 800px;

}


.h1Bronze{
    color: #C39E9E;
    font-family: Montserrat-Bold;
    font-size: 70px;
}

.h4Bronze{
    font-family: Montserrat-Medium ;
    font-size: 19px;
}

.boxBronze{
    margin-top: 40px;
    margin-right: 80px;
    max-height: 1000px;
    max-width: 600px;
    background-color:#ebd0d087!important;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding: 20px;
    border-radius: 16px;
}

.portraitPackageTitle{
    margin-top: 90px;
    font-family: Yokohama ;
    font-size: 130px;
}

.portraitPackageDes{
    padding-top: 0px;
    margin-top: -5px;
    height: 300px;
}

.silver{
    max-width: 450px;
    max-height: 780px;
    margin-top: 25px;
    margin-right: 10px;
}

.silverPackage {
    padding-top: 0px;
    margin-top: -5px;
    height: 800px;

}


.h1Silver{
    color: #C39E9E;
    font-family: Montserrat-Bold;
    font-size: 70px;
}

.h4Silver{
    font-family: Montserrat-Medium ;
    font-size: 19px;
}

.boxSilver{
    margin-top: 40px;
    margin-left: 80px;
    max-height: 1000px;
    max-width: 600px;
    background-color:#ebd0d087!important;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding: 20px;
    border-radius: 16px;
}

.h1Total{
    font-family: Montserrat-Bold ;
    font-size: 60px;
    color: #9D5E5E;
}

.buildYourOwn{
    max-width: 450px;
    max-height: 780px;
    margin-top: 70px;
    margin-right: 10px;

}

.h1Build{
    color: #C39E9E;
    font-family: Montserrat-Bold;
    font-size: 70px;
}

.h4Build{
    font-family: Montserrat-Medium ;
    font-size: 19px;
}

.bronze2{
    max-width: 450px;
    max-height: 780px;
    margin-top: 70 px;
    margin-left: 10px;
}